<div class="container my-4">
    <form action="/blogs" method="post">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input
                    type="text"
                    name="title"
                    class="form-control"
                    placeholder="title"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Snippet</label>
            <input
                    type="text"
                    name="snippet"
                    class="form-control"
                    placeholder="snippet"
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Body</label>
            <textarea name="body" class="form-control" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add</button>
        </div>
    </form>
</div>
