<div class="container my-4 my-4">
  <form action="/blogs/updatepost" method="post">
    <input hidden type="text" value="<%= post._id %>" name="id" />
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        placeholder="title"
        value="<%= post.title %>"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Snippet</label>
      <input
        type="text"
        name="snippet"
        class="form-control"
        placeholder="snippet"
        value="<%= post.snippet %> "
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Body</label>
      <textarea name="body" class="form-control" rows="5">
<%=post.body%></textarea
      >
    </div>
    <div class="mb-3 d-flex justify-content-end">
      <button class="btn btn-success fs-5"><i class="bi bi-plus"></i></button>
    </div>
  </form>
</div>
